:root {
  --light-grey: #a0a0a0;
  --destaque1: #55c1ff;
  --destaque2: #b9f3a5;
  --shadow: rgba(0, 0, 0, 0.5);
  --principal: #121212;
}

body {
  background-color: var(--principal);
  font-family: "Rubik", sans-serif;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background-color: var(--principal);
}

body::-webkit-scrollbar-thumb {
  background-color: #55c1ff;
  border-radius: 20px;
  border: 3px solid var(--principal);
}

h1,
h2,
h3 {
  font-weight: normal;
}

.container {
  padding-left: 120px;
  padding-right: 120px;
}

section {
  border-bottom: 2px solid black;
}

.title {
  font-size: 2.4rem;
  color: white;
}
.texto {
  color: var(--light-grey);
  font-weight: 400;
  font-size: 1.1rem;
  letter-spacing: 1.5%;
  line-height: 1.6rem;
  margin: 20px 0px 80px;
  font-family: "Roboto", sans-serif;
}

.ver-mais {
  display: none;
  padding: 10px 20px;
  justify-self: center;
  background-color: black;
  color: white;
  font-size: 1rem;
  border-radius: 20px;
  cursor: pointer;
  text-transform: uppercase;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  border: 2px solid black;
  outline: none;
  transition: 0.3s;
}
.ver-mais:hover {
  opacity: 0.8;
}

@media (max-width: 800px) {
  .container {
    padding-left: 80px;
    padding-right: 80px;
  }
  .title {
    font-size: 1.6rem;
  }

  body::-webkit-scrollbar {
    width: 0px;
  }

  .texto {
    margin: 20px 0px;
    font-size: 1.2rem;
  }
}

@media (max-width: 400px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .texto {
    font-size: 1rem;
  }

  .ver-mais {
    display: block;
  }
}

@keyframes fade-right {
  from {
    transform: translate3d(-30px, 0px, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fade-left {
  from {
    transform: translate3d(30px, 0px, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
