footer {
  background-color: black;
  color: white;
  padding: 20px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer span {
  display: block;
  color: var(--light-grey);
}

footer span a {
  color: white;
}
