.titleWrpp {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.titleWrpp .title {
  font-size: var(--xl);
  font-family: var(--font1-1);
  font-weight: 400;
  color: #fff;
  opacity: 0;
}

.titleWrpp .dark {
  color: var(--text-1);
}

.titleWrpp .subtitle {
  font-size: var(--md);
  font-family: var(--font1-2);
  color: var(--text-4);
  opacity: 0;
}

.titleWrpp .subtitle.dark {
  color: var(--text-4);
}

.active .titleWrpp .title {
  animation: 0.8s slideIn 0.3s forwards;
}
.active .titleWrpp .subtitle {
  animation: 0.8s slideIn 0.8s forwards;
}

@media (max-width: 800px) {
  .titleWrpp .titleWrpp {
    padding: 0;
  }
}

@keyframes slideIn {
  0% {
    transform: translate3d(-10rem, 0, 0);
  }

  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
