.introWrpp {
  padding: 2rem 0;
  z-index: 20;
  background-color: #fff;
}

/* Title CSS*/

.introtitle {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 1rem 0 3rem;
}

.introtitle .title {
  font-family: var(--font1-1);
  font-size: var(--xxl);
  color: var(--text-1);
  font-weight: 400;
  opacity: 0;
  animation: 0.8s slideIn 1s forwards;
}

.introtitle .subtitle {
  font-size: var(--md);
  font-family: var(--font1-2);
  color: var(--text-4);
}
.introtitle .detail {
  display: inline-block;
}

.introtitle .title .detail {
  color: var(--primary);
  transition: color 0.4s;
  text-shadow: 0px 0px 6px var(---secondary);
  animation: 2s blinkTitle 1s normal;
}

.introtitle .title:hover .detail {
  color: var(--secondary);
}

.introtitle .subtitle {
  font-family: var(--font1-2);
  font-size: var(--x);
  font-weight: 400;
  color: var(--text-2);
  opacity: 0;
  animation: 0.8s slideIn 1.4s forwards;
}
.introtitle .subtitle .detail {
  color: var(--text-1);
}

/* Intro text CSS*/

.intro {
  display: grid;
  grid-template-columns: minmax(300px, 400px) minmax(180px, 200px);
  align-items: end;
  justify-content: center;
  position: relative;
  margin-bottom: 2rem;
}

.introInfo {
  padding: 1rem;
  position: relative;
}

.introInfo::after {
  content: "";
  display: block;
  position: absolute;
  width: 140%;
  height: 100%;
  background-color: var(--text-5);
  border-radius: 20px;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  animation: 0.8s slideIn 2s forwards;
}

.introText {
  font-family: var(--font1-2);
  font-size: var(--md);
  color: var(--text-3);
  margin-bottom: 1rem;
  font-weight: 400;
  opacity: 0;
  transition: 0.2s;
  animation: 0.4s show 2.6s forwards;
}
.introText:hover {
  color: var(--text-1);
}
.introText span {
  color: var(--primary);
  transition: color 0.2s;
}
.introText span:hover {
  color: var(--secondary);
}

.infos {
  display: flex;
  gap: 2rem;
  opacity: 0;
  animation: 0.6s slideInL 2.2s forwards;
}

.infoItem {
  font-size: var(--p);
  font-family: var(--font1-1);
  display: flex;
  align-items: center;
  letter-spacing: -1px;
  padding: 0.5rem;
  color: var(--primary);
  border: 2px solid var(--primary);
  border-radius: 10px;
  background-color: white;
  transition: 0.3s;
}
.resume {
  background-color: var(--primary);
  color: white;
}

.infoItem:hover {
  color: var(--secondary);
  border: 2px solid var(--secondary);
  box-shadow: 4px 4px 0 0 var(--text-1);
  transform: translate3d(-4px, -4px, 0);
}
.resume:hover {
  color: white;
  border: 2px solid var(--primary);
  background-color: var(--secondary);
}

.introImg {
  opacity: 0;
  z-index: 300;
  transition: 0.6s;
  animation: 0.6s slideInL 3s forwards;
}

.introImg:hover {
  filter: contrast(1.2);
}

@media (max-width: 960px) {
  .intro {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .introtitle {
    margin: 3rem 0 0.5rem;
  }

  .introInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: clamp(200px, 40vw, 25rem);
    padding: 1rem 2rem;
  }

  .infos {
    gap: 1rem;
  }

  .introInfo::after {
    width: 100%;
  }

  .introImg {
    max-width: 160px;
  }

  .introWrpp {
    padding: 2rem 0 1rem;
  }
}

/* Animations*/

@keyframes slideIn {
  0% {
    transform: translate3d(-10rem, 0, 0);
  }

  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInL {
  0% {
    transform: translate3d(10rem, 0, 0);
  }

  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes blinkTitle {
  0% {
    color: var(--secondary);
    text-shadow: 0px 0px 6px var(---secondary);
  }
  50% {
    color: var(--secondary);
    text-shadow: 0px 0px 8px var(---secondary);
  }
  100% {
    text-shadow: none;
    color: var(--primary);
  }
}

@keyframes grow {
  to {
    height: 120%;
  }
}

@keyframes show {
  from {
    transform: translate3d(-20px, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
