.App {
  display: grid;
  align-items: center;
  justify-content: center;
  max-width: 1600px;
  margin: 0 auto;
  box-sizing: border-box;
}

.App section {
  width: 100vw;
  justify-content: center;
  box-sizing: border-box;
  height: max-content;
}
